# ignore everything
/*

# include the following folders
!/.gitignore
!/wezterm/
!/ghostty/
!/nvim/
!/fish/
!starship.toml
!/alacritty/
!/kwin_scripts/
!/zellij/
!/kitty/
!/niri/
!/DankMaterialShell/
!/danksearch/
!/setup_misc/
!/btop/
!/nushell/
!/wallpapers/
!/setup_fedora.sh
!/rio/
