#![enable(implicit_some)]
(
  ui: (
    constraints: (
      max_height: 3,
      max_width: 50,
    ),
    colors: None,
  ),
  stations: [
    (
      id: "echo",
      metadata: (
        title: None,
      ),
      behavior: (
        picker_type: EntryBox,
        search_type: None,
        key_maps: [
          (
            modifiers: "",
            key: Enter,
            action: ExecuteWithTyped([
              "echo",
              "{}",
            ]),
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('h'),
            action: TextCursorLeft,
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('l'),
            action: TextCursorRight,
            replace_string: "{}",
          ),
        ],
      ),
      ui: None,
    ),
    (
      id: "zellij-session",
      metadata: (
        title: None,
      ),
      behavior: (
        picker_type: SingleChoice(Source(
          command: ["zellij", "list-sessions", "--short",],
          separator: "\n",
        )),
        search_type: SubStringSearch,
        key_maps: [
          (
            modifiers: "",
            key: Enter,
            action: ExecuteOnceAndExit([
              "zellij",
              "attach",
              "{}",
            ]),
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('h'),
            action: TextCursorLeft,
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('l'),
            action: TextCursorRight,
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('j'),
            action: TextCursorDown,
            replace_string: "{}",
          ),
          (
            modifiers: "CONTROL",
            key: Char('k'),
            action: TextCursorUp,
            replace_string: "{}",
          ),
        ],
      ),
      ui: None,
    )
  ],
)
