/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #0032c3 !important;
  --toolbarbutton-icon-fill: #b9c3ff !important;
  --toolbar-field-color: #e2e1ef !important;
  --tab-selected-textcolor: #b9c3ff !important;
  --toolbar-color: #e2e1ef !important;
  --arrowpanel-color: #e2e1ef !important;
  --arrowpanel-background: #1d1f29 !important;
  --sidebar-text-color: #e2e1ef !important;
  --zen-main-browser-background: #11131c !important;
}

.sidebar-placesTree {
  background-color: #1d1f29 !important;
}

#zen-workspaces-button {
  background-color: #1d1f29 !important;
}

#TabsToolbar {
  background-color: #11131c !important;
}

.urlbar-background {
  background-color: #1d1f29 !important;
}

.urlbar-input::selection {
  color: #00218b !important;
  background-color: #b9c3ff !important;
}

.urlbarView-url {
  color: #c6c5d3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b9c3ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c3cbff !important;
  --identity-icon-color: #c3cbff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b9c3ff !important;
  --identity-icon-color: #b9c3ff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb4 !important;
  --identity-icon-color: #a5ffb4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe6a5 !important;
  --identity-icon-color: #ffe6a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd772 !important;
  --identity-icon-color: #ffd772 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb7 !important;
  --identity-icon-color: #ff9fb7 !important;
}

.identity-color-pink {
  --identity-tab-color: #ced4ff !important;
  --identity-icon-color: #ced4ff !important;
}

.identity-color-purple {
  --identity-tab-color: #3a4376 !important;
  --identity-icon-color: #3a4376 !important;
}

#zen-appcontent-navbar-container {
  background-color: #11131c !important;
}
